.img-carousel {
    margin: 0 auto;
    width: 40%;
    height: 40%;
}

.images {
    width: 100%;
}

button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-weight: bolder;
    color: white;
    text-align: center;
    border: rgb(168, 145, 145);
}

#left-arrow {
    position: absolute;
    top: 150px;
    left: 400px;
    z-index: 1;
    background-color: rgb(168, 145, 145);
}

#right-arrow {
    position: absolute;
    top: 150px;
    right: 400px;
    background-color: rgb(168, 145, 145);
}